<!DOCTYPE html>
<html>
  <head>
    <title>Kylesportfolio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700|Gloria+Hallelujah|Patrick+Hand+SC|Walter+Turncoat" rel="stylesheet">
    <script>$('.carousel.carousel-slider').carousel({fullWidth: true});</script>

    <script>$('.carousel.carousel-slider').carousel({fullWidth: true});</script>

    <script>
      $(document).ready(function(){
      $('.slider').slider({
        indicators: false,
        height: 350
      });
    });

    $(document).ready(function(){
    // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
  });
    </script>
    

  </head>

  <body>
    <%= render 'shared/application_nav' %>
    <%= render 'shared/application_slider' %>
    <%= yield %>
    <%= render 'shared/application_footer' %>
  </body>
</html>